{# @var model \App\Model\TopicListModel #}

{% extends 'forum/forumbase.html.twig' %}

{% block forumcontent %}
   {% for topic in model.topicList %}
        <p>
            <a href="{{ path('forum_msg_list', {'topic': topic.id}) }}">
                TOPIC #{{ topic.id }}: {{ topic.name }}
            </a>
        </p>
   {% endfor %}

    {% form_theme model.topicForm 'form_table_layout.html.twig' %}
    {{ form_start(model.topicForm) }}
    {{ form_widget(model.topicForm) }}
    {{ form_end(model.topicForm) }}
{% endblock %}